{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | AboutUs {% endblock %}

{% block body %}

    <h2>About Us !</h2>

    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores corporis distinctio dolorem dolores iure
            magni maiores mollitia natus nostrum obcaecati optio quaerat ratione rem, sequi tenetur ullam vero voluptate
            voluptatem!</p>
        <p>Aperiam at beatae blanditiis commodi delectus ea eius esse illum iure magni maxime molestiae nostrum odio
            pariatur quaerat qui recusandae, repudiandae temporibus vero voluptas? Dolores fuga fugit ipsam maxime
            quam?</p>
        <p>A accusantium beatae distinctio dolor doloremque ea eaque eveniet facere facilis illum incidunt obcaecati,
            officiis optio possimus quam quas quisquam quo recusandae tenetur totam! Dolorem illum maiores minima odio
            quos!</p>
        <p>At, blanditiis commodi delectus deleniti dolorem dolores eos exercitationem fuga iure maxime modi molestiae
            necessitatibus nihil optio pariatur perferendis perspiciatis quaerat repellat similique sint sit suscipit
            vitae! Fugit, ipsum, repudiandae.</p>
        <p>Ad amet at beatae consectetur consequatur delectus dolor dolorem ea expedita illo labore minima natus nemo
            nisi nobis non officiis, quaerat quam qui, quo sint suscipit tempore tenetur vel voluptate.</p>
        <p>Animi debitis deleniti distinctio ducimus et fuga harum iure molestias non porro quisquam rem, similique. Ad
            dolores eveniet fugiat, laboriosam nobis rerum similique tempora velit. Accusantium id quam sit
            voluptatum?</p>
        <p>Alias eos ratione similique tenetur ut! Accusamus eveniet explicabo fugiat illum maxime natus ratione
            recusandae reprehenderit sint ut. Consequatur, dignissimos esse excepturi facilis hic id incidunt placeat
            quae recusandae sint!</p>
        <p>Accusamus alias aliquid animi at autem beatae dignissimos ea eius error expedita facilis, iste nobis officiis
            porro quisquam sapiente sequi veritatis! Aspernatur est odio officia quam temporibus veniam veritatis
            voluptas?</p>
    </article>

{% endblock %}
