{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Home {% endblock %}

{% block body %}

<h2>Welcome to my Bucket List
    {% if app.user %}
    {{ app.user.userIdentifier | capitalize }}</h2>
    {% endif %}

{% endblock %}