<header>
    <h1>
        <div class="titreLogo">
            <a href="{{ path('main_home') }}">
                <img src="{{ asset('assets/logo.png') }}" alt="Bucket List | Home">
                Bucket List
            </a>
        </div>
    </h1>
    {% include 'bodyStructure/menu/nav.html.twig' %}
</header>